@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  touch-action: none;
  touch-action: pan-y;
  min-height: 100vh;
  max-width: 100vw;
}

body {
  background: #fff;
  min-height: 100vh;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* 滚动条盒子 */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c9c9ca;
}

/* 鼠标悬浮在滚动条上时 */
::-webkit-scrollbar-thumb:hover {
  background: #a2a2a3;
}

/* 鼠标点击拖动滚动条时 */
::-webkit-scrollbar-thumb:active {
  background: #a2a2a3;
}

.ib {
  display: inline-block !important;
}

.bold {
  font-weight: bold !important;
}
